
* {    padding: 0;
    margin: 0;
}

.container {
    max-width: 71%;
    margin: 0 auto;

}

p {
    color:#090704 !important;
}

h1, h2, h5, p, a {
    font-family: 'Cormorant SC', serif !important;
}

h2 {
    font-size: 96px !important;
    text-transform: uppercase;
}

h5 {
    font-size: 45px !important;
    line-height: 20px !important;
    text-transform: uppercase;
}