$bgc-1: #111111;
$bgc-2: #222222;
$bgc-3: #542F34;
$bgc-4: #806543;
$bgc-5: #231a4d;
$bgc-6: #A6606C;
$bgc-7: #4a587a;
//#5a5342
$bgc-8: #b5a785;
$bgc-9: #cdb339;
$bgc-10: #e8eb2d;
$bgc-11: #DCD45E; 
$bgc-footer: #1d2330;

$tablet-width: 768px;
$mobile-width: 375px;

img {
    display: block;
}