.footer {
    background: #4a587a;
    &__top {
        //background-color: $bgc-2;
        height: 80px;
    }

    &__bottom {
        //background-color: $bgc-1;
        height: 80px;
    }
}