.footer {
    background: $bgc-footer;
    &__top {
        //background-color: $bgc-2;
        //height: 80px;
    }

    &__top-flex {
        padding: 20px 0 20px;
        display: flex;
        justify-content: space-evenly;

        @include mobile {
            flex-direction: column;
        }
    }

    &__top-navigation {
        display: flex;
        flex-direction: column;
    }

    &__top-list, &__top-link {
        color: #090704;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 35px;
        text-decoration: none;
    }

    &__top-list:hover, &__top-link:hover {
        color: $bgc-10;
    }
    
    &__bottom {
        //background-color: $bgc-1;
        //height: 80px;
    }

    &__bottom-position {
        display: flex;
        justify-content: space-evenly;

        @include mobile {
            min-height: 150px;
            flex-direction: column;
        }
    }

    &__bottom-text {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
}