.carousel {
    background-color: $bgc-3;
    height: 777px;
}

.portfolio {
    background-color: $bgc-2;
    min-height: 2000px;
    padding: 120px 0 150px 0;

    &__header {
        padding: 0 0 120px 0;
        text-align: center;
        text-transform: uppercase;
    }

    &__btn {
        text-align: center;
    }

    &__button {
        width: 250px;
        height: 50px;
        background-color: $bgc-5;
    }

    &__card {
        width: 360px;
        height: 420px;
        border: 2px solid $bgc-4;
        margin: 0 27px 40px 0;
    }

    &__card-10 {
        height: 210px;
        border: 2px solid $bgc-4;
        margin: 50px 27px 40px 0;
    }
}

.favourites {
    background-color: $bgc-1;
    min-height: 631px;  
    padding: 70px 0 100px 0;
}

.contact {
    background-color: $bgc-3;
    height: 362px;  
}



